In [30]:
import sqlite3

In [31]:
db=sqlite3.connect("Hotel Bookings.db")

In [32]:
cursor=db.cursor()

In [33]:
cursor.execute("Create Table Tables1(sno, Name TEXT ,City TEXT,Ratings, Stars, Reviews,Location)")

OperationalError: table Tables1 already exists

In [192]:
cursor.execute("Create Table Tables2(sno, Name TEXT ,Free wifi TEXT, Family rooms ,Non Smoking Rooms, Restaurant ,Bar, Heating ,Lift,BreakfastCuisine_1 TEXT,BreakfastCuisines_2 TEXT,BreakfastCuisin_3 TEXT)")

OperationalError: table Tables2 already exists

In [135]:
cursor.execute("Create Table Tables3(sno ,Name TEXT, Room Type ,Single Bed ,Double bed,Prices)")

OperationalError: table Tables3 already exists

In [ ]:
with open(r"C:\Users\sahee\OneDrive\Desktop\phase_2_sql\Data. 1.csv") as file:
    no_records=0
    for row in file:
        cursor.execute("INSERT INTO Tables1 VALUES (?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        no_records +=1
        print(no_records, 'Record Inserted')

In [137]:
result_1=cursor.execute("SELECT * FROM  Tables1")
for row in result_1:
    print(row)

('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')

In [173]:
cursor.execute("SELECT * FROM Tables1 WHERE City ='Budapest' AND Ratings > 3")
# Fetch the results
result_2 = cursor.fetchall()
for row in result_2:
    print(row)

('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')

In [217]:
query_2 = '''
        SELECT Location, COUNT(*) AS Reviews FROM Tables1 
        GROUP BY Location
        ORDER BY Reviews DESC
        LIMIT 1;
        '''
cursor.execute(query_2)
result_3 = cursor.fetchone()
for row in results_3:
    print(row)

OperationalError: no such column: Location

In [216]:
query3 = '''
    SELECT *
    FROM Tables1 
    ORDER BY Ratings DESC;
'''

cursor.execute(query3)
results_3 = cursor.fetchall()
for row in results_3:
    print(row)

('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')

Writ query that  retrieves rows where the star rating is greater than or equal to 4.0 and sorts them in descending order of review score.

In [223]:
query_4 = '''
    SELECT *
    FROM Tables1
    WHERE Ratings >= 4.0
    ORDER BY Reviews DESC;
'''

cursor.execute(query_4)

# Fetch all the results
results_4 = cursor.fetchall()
for row in results_4:
    print(row)

('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('Sno', 'Name', 'City', 'Rating', 'Stars', 'Reviews', 'Location\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('3', ' NH Collection Berlin Mitte Friedrichstrasse', 'Budapest', '8.8', '4', '6220', '9.6\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('4', ' Ibis budget Berlin Potsdamer Platz', 'Budapest', '7.8', '1', '4716', '9\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('2', ' Novotel Suites Berlin City Potsdamer Platz', 'Budapest', '8.2', '3', '4463', '9.1\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('5', ' Hollywood Media Hotel am KurfÃ¼rstendamm', 'Budapest', '8.4', '4', '3505', '9.4\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')
('1', ' Schulz Hotel Berlin Wall at the East Side Gallery', 'Budapest', '8.7', '3', '18362', '9.2\n')

Write a query to count the number of hotels in each city.

In [228]:
query = '''
    SELECT City, COUNT(*) AS Name
    FROM Tables1
    GROUP BY City;
'''

cursor.execute(query)

# Fetch all the results
results_5 = cursor.fetchall()
for row in results_5:
    print(f"City: {row[0]}, Number of Hotels: {row[1]}")

City: Budapest, Number of Hotels: 35
City: City, Number of Hotels: 9

# Table 2

In [ ]:
with open(r"C:\Users\sahee\OneDrive\Desktop\phase_2_sql\Data.2.csv") as file:
    no_records=0
    for row in file:
        cursor.execute("INSERT INTO Tables2 VALUES (?,?,?,?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        no_records +=1
        print(no_records, 'Record Inserted')

In [2]:
query='''
SELECT Name
FROM Tables2
WHERE EXISTS (SELECT 1 FROM hotel_amenities WHERE hotel_id = hotels.id AND amenity = 'restaurant') AND
      EXISTS (SELECT 1 FROM hotel_amenities WHERE hotel_id = hotels.id AND amenity = 'bar');'''

In [16]:
query = """
SELECT Name
FROM Tables2
WHERE
    EXISTS (SELECT 1 FROM hotel_amenities WHERE hotel_id = hotels.id AND amenity = 'free WiFi')
    AND
    EXISTS (SELECT 1 FROM hotel_amenities WHERE hotel_id = hotels.id AND amenity = 'family rooms');
"""
cursor.execute(query)
results = cursor.fetchall()
for row in results:
    print(row[0])

In [ ]:
import pandas as pd
data = pd.read_csv(r"C:\Users\sahee\OneDrive\Desktop\phase_2_sql\Data.2.csv")
cuisine_counts = data['cuisine_type'].value_counts()
print(cuisine_counts)

In [ ]:
query = '''
    SELECT cuisine_type, COUNT(*) as count
    FROM breakfast
    GROUP BY cuisine_type
    '''
df = pd.read_sql_query(query, cursor)

In [ ]:
Query='''
SELECT hotel_name
FROM hotels
WHERE
    EXISTS (SELECT 1 FROM hotel_amenities WHERE hotel_id = hotels.id AND amenity = 'Heating')
    AND
    EXISTS (SELECT 1 FROM hotel_amenities WHERE hotel_id = hotels.id AND amenity = 'Lift')
    AND
    EXISTS (SELECT 1 FROM hotel_amenities WHERE hotel_id = hotels.id AND amenity = 'Bar');
'''

# Table 3

In [ ]:
with open(r"C:\Users\sahee\OneDrive\Desktop\phase_2_sql\Data 3.csv") as file:
    no_records=0
    for row in file:
        cursor.execute("INSERT INTO Tables3 VALUES (?,?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        no_records +=1
        print(no_records, 'Record Inserted')

In [ ]:
query = '''
    SELECT hotel_name, price
    FROM hotels
    WHERE room_type = 'double bed'
    ORDER BY price DESC
'''
df = pd.read_sql_query(query, cursor)

In [ ]:
query = '''
    SELECT room_type, AVG(price) AS average_price
    FROM hotels
    GROUP BY room_type
'''
df = pd.read_sql_query(query,cursor)
df

In [ ]:
import sqlite3
import pandas as pd
cursor=db.cursor()
query = '''
    SELECT Name, h.Rating, a.Facilities
    FROM Tables2 AS h
    JOIN Facilities AS a ON h.id = a.hotel_id
    WHERE h.Rating > 5 AND a.Facilities = 'free WiFi'
'''
df = pd.read_sql_query(query,cursor)

In [ ]:
query = '''
    SELECT r.room_type, AVG(rp.price) AS average_price
    FROM rooms AS r
    LEFT JOIN room_prices AS rp ON r.room_type = rp.room_type
    GROUP BY r.room_type
'''
df = pd.read_sql_query(query,cursor)